<div class ="container-fluid">

<div class="row">
  <div class="col-md-12" style="text-align: center;">
    <div style="font-size: 12px">This site takes payment security seriously.
    </div>
     <div style="font-size: 12px">This site uses <a href ="https://stripe.com/docs/security/stripe">Stripe</a> for all payment related activities, and any critical payment related information is stored securely on Stripe's servers.
    </div>
    <div style="font-size: 12px">
     HTTPS is also enforced, for the entire site, which is 256 bit AES encryption.
    </div>
  </div>


</div>

<hr>

<% include ./_output_payment_info %>



<div class="row">
  <div class="col-md-12" style="text-align: center">

      <% if(current_user.credit_card[0]) { %>
        <form action="/dashboard/payment/delete" method="post">
          <button type="submit" class="btn-link" style="padding:0px">Delete Credit Card</button>
        </form>
      <% } else { %>

      <div>You currently have no payment information!</div>
        <a class="btn btn-warning" role="button" href="/dashboard/payment/update">
           Add Payment Source
        </a>


      <% } %>
  </div>
</div>



</div>
