<div class ="container-fluid">

<div class="row">
  <div class="col-md-12" style="text-align: center;">
    <div style="font-size: 12px">( Disclaimer: This site uses <a href ="https://stripe.com/docs/security/stripe">Stripe</a> for all transactions, and all payment information is stored securely on Stripe's servers.)</div>
  </div>

  <hr>
</div>



<% include ./_output_payment_info %>



<div class="row">
  <div class="col-md-12" style="text-align: center">

      <% if(current_user.credit_card[0]) { %>
        <form action="/dashboard/payment/delete" method="post">
          <button type="submit" class="btn-link" style="padding:0px">Delete Credit Card</button>
        </form>
      <% } else { %>

        <a class="btn btn-warning" role="button" href="/dashboard/payment/update">
          You currently have no payment information. Please click here to add a payment source!
        </a>


      <% } %>
  </div>
</div>



</div>
