<div class="container-fluid">
    <div class="row">
      <div class= "col-md-12" style="text-align: center;">
        Please note, no charges will be incurred at this time. This page just saves a payment source to the account in order to purchase messages later.


      </div>
    </div>
<hr>
    <div class="row">
      <% include ./_credit_card_form %>
    </div>
</div>