      <form action="/dashboard/recipients/new" method="POST" id="recipient-add-form">
        <span class="errors"></span>

        <div class="form-row">
          <label>
            <span>First Name</span>
            <input type="text" name="first_name" size="20">
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>Last Name</span>
            <input type="text" name="last_name" size="20" >
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>Phone Number</span>
            <input type="number" name="area_code"    size="3">
            <input type="number" name="phone_prefix" size="3">
            <input type="number" name="phone_suffix" size="4">
          </label>
        </div>

        <input type="submit" class="submit">
      </form>