<div class="row">
  <div class="col-md-6 col-md-offset-3  col-sm-6 col-sm-offset-3 ">
  <h3 style="text-decoration: underline;"> Add New Cat Fact Recipient</h3>
      <form
        action="/dashboard/recipients/new"
        method="POST"
        id="recipient-add-form"
        role="form"
        data-toggle="validator">


    <div class="row">
      <div class="col-sm-12 ">
        <span class="errors"></span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 ">
        <div class="form-group has-feedback">
          <label>
            <span>First Name</span>
           </label>
            <input
              type="text"
              name="first_name"
              class="form-control"
              placeholder="John"
              required autofocus>
              <div class="help-block with-errors"></div>
       </div>
      </div>

      <div class="col-sm-6 ">
        <div class="form-group has-feedback">
            <label>
              <span>Last Name</span>
            </label>
            <input
              type="text"
              name="last_name"
              placeholder="Doe"
              class="form-control"
              required>
              <div class="help-block with-errors"></div>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-sm-4 ">
      <div class="form-group has-feedback">
        <label>
          <span>Area Code</span>
        </label>
        <input
          type="tel"
          pattern="[0-9]*"
          minlength="3"
          maxlength="3"
          class="form-control"
          placeholder="504"
          name="area_code"
          required>
          <div class="help-block with-errors"></div>
      </div>
    </div>

    <div class="col-sm-4 ">
      <div class="form-group has-feedback">
        <label>
          <span>Phone Prefix</span>
        </label>
        <input
          type="tel"
          pattern="[0-9]*"
          minlength="3"
          maxlength="3"
          class="form-control"
          placeholder="321"
          name="phone_prefix"
          required>
          <div class="help-block with-errors"></div>

      </div>
    </div>

    <div class="col-sm-4 ">
      <div class="form-group has-feedback">
        <label>
          <span>Phone Suffix</span>
        </label>
        <input
          type="tel"
          pattern="[0-9]*"
          maxlength="4"
          minlength="4"
          class="form-control"
          placeholder="1234"
          name="phone_suffix"
          required>
          <div class="help-block with-errors"></div>
      </div>
    </div>

  </div>

    <button type="submit" class="submit btn btn-primary">Add New Recipient</button>
    </form>
  </div>
</div>