<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <%# Messages remaining pane %>
      <div class = "row" style="text-align: center">
        <div>
          <h3 style="margin-top:0px; /*text-decoration: underline;*/">
          <span style="border-bottom: 0px solid">
            You have <span style="font-weight: bold; font-size: 30px"><%= messages_remaining %> </span>Cat Facts remaining. %>
          </span>
          </h3>
        </div>
      </div>

<hr>



    <div class="row">

      <div class="col-sm-4 btn-vert-block">
        <button type="#"
        data-toggle="modal"
        data-target="#myModal"
        data-amount-cents="100"
        data-messages="50"
        class="btn btn-success btn-block">Add $1 (50 messages)</button>

      </div>

      <div class="col-sm-4 btn-vert-block">
          <button type="#"
          data-toggle="modal"
          data-target="#myModal"
          data-amount-cents="500"
          data-messages="250"
          class="btn btn-success btn-block">Add $5 (250 messages)</button>
      </div>

      <div class="col-sm-4 btn-vert-block">
          <button type="#"
          data-toggle="modal"
          data-target="#myModal"
          data-amount-cents="1000"
          data-messages="500"
          class="btn btn-success btn-block">Add $10 (500 messages)</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirm Charges</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
         <form action="/dashboard/account/add" method="post" class="form-inline" id="modal-form">
            <input type="hidden" id="charge-input" name="charge_amt" value=""/>
            <button type="submit" class="btn btn-warning buy_messages">Confirm</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>

