<h4 style="text-decoration:underline; margin-bottom: 2px">
  Payment Information
</h4>
<div style="font-size: 12px">( Note: This site uses <a href ="https://stripe.com/docs/security/stripe">Stripe</a> for payment security.)</div>

<a href="/dashboard/payment/edit">Edit Payment information</a>

<table class="table-condensed table">
  <% for (var key in payment_info) {  %>
    <% if (payment_info.hasOwnProperty(key)) { %>
    <tr>
      <td> <%= key %> </td>
      <td> <%= payment_info[key] %> </td>
    </tr>
    <% } %>
  <% } %>
</table>
