<div class ="container-fluid">

    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <% if (typeof flash_message !== 'undefined') { %>
            <div class="alert alert-danger"
            role="alert"
            style="font-size: 16px; text-align: center">
                <%=flash_message%>
            </div>
        <% } %>
      </div>
    </div>



  <%# Recipients Pane %>
  <div class ="row">

      <div class="col-md-12" style="text-align: center">
              <h3>
              <div style="font-weight: bold; text-decoration: underline;"> Hello <%= current_user.username %>!</div>
            </h3>
      </div>
        <div class="col-md-12" style="text-align: center">
            <h3>
              <span style="border-bottom: 0px solid">
                <div>Your Cat Facts recipients.</div>
              </span>
            </h3>
        </div>
      </div>


      <div class="col-md-8 col-md-offset-2">
      <hr>
      </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% include ./_output_recipients %>
    </div>
    <div class="col-md-8 col-md-offset-2  visible-xs" style="text-align: center">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      Scroll
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </div>
    <div class="col-md-8 col-md-offset-2" style="text-align: center">
      <a href = "/dashboard/recipients/new"> Add New Recipient </a>
    </div>
  </div>


  <div class="col-md-8 col-md-offset-2">
  <hr>
  </div>


  <%# Increase Messages Pane %>
  <div class="row">
        <div class="col-md-12">
          <% include ./_increase_msg_buttons %>
        </div>
  </div>








</div>
