<div class ="container-fluid">

    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <% if (typeof flash_message !== 'undefined') { %>
            <div class="alert alert-danger"
            role="alert"
            style="font-size: 16px; text-align: center">
                <%=flash_message%>
            </div>
        <% } %>
      </div>
    </div>



  <%# Recipients Pane %>
  <div class ="row">
    <div class="col-md-12" style="text-align: center">
        <h3>
          <span style="border-bottom: 0px solid">
            Your cat facts recipients
          </span>
        </h3>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2">
  <hr>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% include ./_output_recipients %>
    </div>
  </div>




  <%# Increase Messages Pane %>
  <div class="row">
        <div class="col-md-12">
          <% include ./_increase_msg_buttons %>
        </div>
  </div>








</div>
