<div class ="container-fluid">


<hr>

  <%# Messages remaining pane %>
  <div class = "row">
    <div class="col-md-12">
      <h4 style="margin-top:0px; text-decoration: underline;">
        You have <%= messages_remaining %> cat facts remaining. %>
      </h4>
    </div>
  </div>

  <%# Increase Messages Pane %>
  <div class="row">
        <div class="col-md-12">
          <% include ./_increase_msg_buttons %>
        </div>
  </div>

<hr>

  <%# Recipients Pane %>
  <div class ="row">
    <div class="col-md-12">
      <h4 style="text-decoration:underline;">Your Cat Facts recipients </h4>
      <% include ./_output_recipients %>
    </div>
  </div>

<hr>

    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <% if (typeof flash_message !== 'undefined') { %>
            <div class="alert alert-danger"
            role="alert"
            style="font-size: 16px; text-align: center">
                <%=flash_message%>
            </div>
        <% } %>
      </div>
    </div>



</div>
