<div class="container">
<div class="row">
  <div class="col-md-12">
            <h3>
              <div style="font-weight: bold; text-decoration: underline;"> Instructions </div>
            </h3>

        <ol>
            <li> Add Payment Source </li>
            <ul>
              <li> Can be added via the navigation bar or clicking here: <a href="/dashboard/payment">Payment Information</a> </li>
            </ul>
            <li> Add Messages to Account </li>
            <ul>
              <li> Navigate to the dashboard: <a href="/dashboard">Dashboard </a></li>
              <li> Add messages by using the ADD buttons at the bottom of the dashboard </li>
            </ul>
            <li> Add Recipients </li>
            <ul>
              <li> Can be added using the 'Add New Recipient' link on the dashboard or click here: <a href="/dashboard/recipients/new">Add New Recipient</a> </li>
            </ul>
            <li> Enable Messages to be sent to the recipient </li>
            <ul>
              <li> Navigate back to the <a href="/dashboard">Dashboard </a></li>
              <li> Click the EDIT link by the new recipient's name</li>
              <li> Increase the INTERVAL of the recipient. The interval is time in between messages. Therefore,  an interval of 5 means a Cat Fact is sent every 5 minutes. An interval of 1 means a Cat Fact is sent every minute.  An interval of 0 turns off sending Cat Facts entirely to this recipient</li>
            </ul>
            <li> That's it!  Go forth and sew Cat Facts upon the masses!</li>
        </ol>

  </div>
</div>
</div>