<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= config.site.title %></title>


    <!-- frontend libs -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="/vendor/bootswatch.min.css">
    <link rel="stylesheet" href="/css/simple_sidebar.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!--custom css -->
    <link rel="stylesheet" href="/css/main.css">

    <style>
        html,body{height: 100%;}
        body{border:0px solid black;}
    </style>

    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>
  <body>

    <noscript>
        <style type="text/css">
            #main {display:none;}
        </style>
        <div class="noscriptmsg">
        You don't have javascript enabled. You should probably enable it.
        </div>
        <img src="https://media.giphy.com/media/syOxPNUl0FWuY/giphy.gif"/>
    </noscript>

    <% include ../partials/_navbar %>
    <div id="main" role="main">
      <%-body%>
    </div>

    <!-- frontend libs -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/bootstrap-validator/validator.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="/js/main.js"></script>

    <script type="text/javascript">
        Stripe.setPublishableKey('<%= process.env.STRIPE_PUBLISHABLE_KEY %>');
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71700533-2', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>