<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <!-- LOGIN FORM -->
    <form action="/auth/signup" method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text"
                        class="form-control"
                        name="username"
                        placeholder="JohnDoe@gmail.com, I_AM_Batman, L33T_H4X0R, Eddie, etc."
                        required autofocus>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Password</label>
                    <input
                        type="password"
                        class="form-control"
                        name="password"
                        placeholder="********">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-warning btn-lg">Signup</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <% if (message) { %>
                        <div class="alert alert-danger" role="alert" style="font-size: 16px; text-align:center;"><%=message%></div>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="6LfuZwkUAAAAAOgcKAq4sbEKNWSGRsH10-p2C0AK"></div>
                </div>
            </div>
        </div>

    </form>

    <hr>

    <p>Already have an account? <a href="/auth/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>

</div>