<div class="container">
<div class="row">
  <div class="col-md-12">

  <h4> Site Facts</h4>
    <ul style="">
        <li>
            This is a fully armed and operational Cat Fact service!
        </li>
        <li>
             I wanted everything to be free, but there's basic infrastructure cost: Twilio charges for texts and Openshift for server hosting.
        </li>
        <li>
            I did this project in my spare time to learn node, express, and some other web technologies.
        </li>
        <li>
            I learned a lot from making it and will have a post-mortem about it's construction on my personal site:     <a href="mutant.city">Mutant.city</a>.
        </li>
        <li>
            Future goals are to develop a back end to visualize recipient responses, add options for other types of facts (like sloth and horse facts), and add automated animal fact voice calls. Also it would be nice to look into some other telecom APIs like Google voice or Plivo number to see if I can figure out how to make messaging free. One day time will allow!!!
        </li>
        <li>
            For a much more fully featured Cat Facts service please check out this cool android app:
            <a href="http://www.catfacts.co/">Catfacts.co</a>
        </li>
        <li>
            I got the idea from both: a reddit thread and my friend Brooke who reminded me of it a year later. Thanks and credit to reddit OP and to  my friend Brooke. I hope you find this idea as entertaining as we all did.
        </li>
        <li>
            Any questions, comments, concerns, please hit me up at nickkiermaierATgmail.com or head to the github repo  here: <a href="https://github.com/nkiermaier/catfacts"> https://github.com/nkiermaier/catfacts </a>.
        </li>
         <li> See ya later meow.</li>
    </ul>

  </div>
</div>
</div>