<div class="container">
<div class="row">
  <div class="col-md-12">
    This is a fully armed and operational Cat Fact service!<br/><br/>

    I hope you find this idea as entertaining as I did.<br/>
    When I first saw the reddit thread a while ago, I knew it would be a fun project and I learned a lot from making it.<br/>

    Future goals are to develop a back end to visualize recipient responses, add options for other types of facts (like sloth and horse facts), and add automated animal fact voice calls.<br/> Also, look into other APIs to see if a Google voice or  Plivo number could be plugged in to send free messaging.<br/>
    One day time will allow!<br/>
    Any money spent on texts is going directly to Twilio and Openshift for text service and server hosting.<br/>

    Any questions, comments, concerns, please hit me up at nickkiermaierATgmail.com or head to the github repo here: <a href="https://github.com/nkiermaier/catfacts"> https://github.com/nkiermaier/catfacts </a>.<br/><br/>

    See ya later meow.

  </div>
</div>
</div>