<div class="container">
<div class="row">
  <div class="col-md-12">

  <h4> Site Facts</h4>
    <ul style="">
        <li>
            This is a fully armed and operational Cat Fact service!
        </li>
        <li>
             I tried to keep it as cheap as possible but there's basic infrastructure cost;
            any money spent on texts is going directly to Twilio and Openshift for text service and server hosting.
        </li>
        <li>
            I either got the idea from: a reddit thread or my friend Brooke. Memory is hazy on this however it's an amazing idea and if she did indeed plant it in my brain I give her thanks and credit. I hope you find this idea as entertaining as we did.
        </li>
        <li>
            I did this site in my spare time to learn node, express, and some other web technologies.
        </li>
        <li>
            I learned a lot from making it and will have a post-mortem about it's construction on my personal site:     <a href="mutant.city">Mutant.city</a>.
        </li>
        <li>
            Future goals are to develop a back end to visualize recipient responses, add options for other types of facts (like sloth and horse facts), and add automated animal fact voice calls. Also it would be nice to look into some other telecom APIs like Google voice or Plivo number to see if I can figure out how to make messaging free. One day time will allow!!!
        </li>
        <li>
            For a much more fully featured Cat Facts service please check out this cool android app:
            <a href="http://www.catfacts.co/">Catfacts.co</a>
        </li>
        <li>
            Any questions, comments, concerns, please hit me up at nickkiermaierATgmail.com or head to the github repo  here: <a href="https://github.com/nkiermaier/catfacts"> https://github.com/nkiermaier/catfacts </a>.
        </li>
         <li> See ya later meow.</li>
    </ul>

  </div>
</div>
</div>