<div class="container">
<div class="row">
  <div class="col-md-12">
    Hi, I'm a software developer and this site is a fully armed and operational prototype for a Cat Fact service. <br/><br/>
    I developed it from the ground up and would love to put more time into it, but I need food and other stuff so had to put it on hold for now.<br/><br/> Goals would be to develop a back end to be able
    to see recipient responses, add options for sloth and horse facts and other animal facts, and add automated voice calls to more FULLY bring animal facts into peoples lives.<br/><br/>
    This is not a money making thing for me. Any money spent on texts is going directly to Twilio and Openshift for text service and server hosting.<br/><br/>
    I hope you have as much fun with it as I did. When I first saw the reddit thread a while ago, I knew it would be a fun project and I learned a lot from making it.<br/><br/>
    Any questions, comments, concerns, please hit me up at nickkiermaierATgmail.com or head to the github repo here: <a href="https://github.com/nkiermaier/catfacts"> https://github.com/nkiermaier/catfacts </a>.<br/><br/>

    See ya later meow.

  </div>
</div>
</div>