<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div style = "text-align: center;">
    <div style="font-family: 'Montserrat', sans-serif; font-size: 60px"> WELCOME TO CAT FACTS! </div>
    <div style="font-family: 'Montserrat', sans-serif; font-size: 30px"> A modern Web 2.0 cat fact service based on a dynamic cloud silo of artisinal cat fact content. </div>
    <div> Please <a href="/auth/login"> login </a> or <a href="/auth/signup">signup</a> to continue! </div>
    </div>
  </div>
</div>